<!-- <div class = "mainPage">
        Mainpage videos
</div> -->


<div class = "mainPage">
<div class = "videoTitle">
        <h3><a [routerLink]="['video-page']" routerLinkActive="router-link-active" >DarkSouls</a></h3>
        <hr>
</div>
<div class = "videoContent">
<carousel>
                <slide>
                <div class = "videoGallery">
                <iframe src="https://www.youtube.com/embed/cAPUG8goyeA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/LqhtBsxAZNo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/PrYPqtWWB3s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/34jLXwEzz0M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                </slide>
                <slide>
                <div class = "videoGallery">
                <iframe src="https://www.youtube.com/embed/JIT9aUHbcaI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/L6JH0EfTIKw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/5_FZm1gYrt0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/p9hoAyx3-0I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                </slide>
</carousel>
</div>

<div class = "videoTitle">
                <h3>Overwatch</h3>
                <hr>
        </div>
        <div class = "videoContent">
        <carousel>
                        <slide>
                        <div class = "videoGallery">
                        <iframe src="https://www.youtube.com/embed/cAPUG8goyeA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/LqhtBsxAZNo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/PrYPqtWWB3s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/34jLXwEzz0M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        </slide>
                        <slide>
                        <div class = "videoGallery">
                        <iframe src="https://www.youtube.com/embed/JIT9aUHbcaI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/L6JH0EfTIKw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/5_FZm1gYrt0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/p9hoAyx3-0I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        </slide>
        </carousel>
        </div>
</div>
