.mainPage {
    /* border-radius: 15px;
    border: 1px solid grey; */
    position: relative;
    margin-top: 1%;
    margin: 10px;
    background-color: white;
    padding: 10px;
    height: 1000px;
}
.videoGallery {
    align-content: center;
    margin-top: 2%;
    margin-left : 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
.videoGallery iframe {
    position: relative;
    margin-right: 1%;
    margin-left: 1%;
    width: 23%;
    height: 70%;
}
h3 a {
    color: #2659ad;

}

h3 {
    color: #2659ad;
}
    
