.body {
    
    height: 1000px;
    
}
#brand {
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border: none; 
    
    
}
#brand a{
    font-family:  Verdana, sans-serif;
    color: #0C284E;
    
}
#brand img {
    width: 250px;
    height: 50px;

}



.mat-toolbar {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    font-weight: 100;
    margin-top: 10px;
}
button a {
    color: white;   
}
button a:active {
    text-decoration: none;
}
button a:hover {
    text-decoration: none;
}

.example-spacer {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    /* border: 1px solid red; */
}
.topnav {
    width: 100%;
    height: 100%;
    
    /* border: 1px solid green; */

}

#searchText {
    width: 80%;
    height: 70%;
    margin-top: 1%;
    background-color: white;
    padding-right: 50px;
    color: grey;
    padding-left:10px;
    border: 2px solid #86A4B3;
    border-radius: 15px;
}
#searchText:focus{
    outline: none;
}

#expand {
    margin-left: -50px;
    width: 40px;
    height: 30px;
    margin-top: 1%;
    border: white;
    border-radius: 15px;
    color: #86A4B3;
}
#expand:focus {
    outline: none;
}

#expand:hover {
    color: #0C284E;
}


#search {
    margin-left: 5%;
    width: 100px;
    height: 70%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #86A4B3;
    border-radius: 15px;
    border: 2px solid #86A4B3;
    font-size: 17px;
}
#search:focus {
    outline: none;
}
mat-icon {
    color: #86A4B3;
}
#searchAlt {
    display: none;
    margin-left: 5%;
    width: 15%;
    height: 80%;
    align-self: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #45525B;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 17px;
   
}


/* Dropdown FITLER */
.dropFilter {
    
    display: none;
    background-color: #173B6B;
    opacity: 0.9;
    height: 450px;
    width: 80%;
    float: left;
    border-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
    
}
.show {
    display: inline-block;
}
.filterContents {
    margin-left: 20px;
    margin-right: 20px;

}
.filterItem {
    margin-top: 5px;
    /* border: 1px solid orange; */
    height: 50px;

}
.filterItemLabel{
    width: 20%;
    float: left;
    padding-top: 10px;
    /* border: 1px solid yellow; */
    color: white;

}
.filterItem label {
    font-size: 15px;
    font-weight: 100;
}
.filterItemInput {
    float: right;
    margin-right: 5px;
    width: 75%;
    /* border: 1px solid red; */
}

.filterItem input {
    font-size: 15px;   
    display: table-cell;
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: 5px;
    border-right: none;
    border-bottom: solid white 1px;

}

.mat-form-field {

    margin-left: 15px;
    font-size: 15px;
    font-weight: 100;
}


#upload {
    min-width: 1%;
}
#identity {
    min-width: 1%;
}



/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 1000px) {
    .right-corner {
        display: none;
    }
    #search {
        display: none;
    }
   
    #searchAlt {
        display: inline-block;
    }

    .text-line {
        width: auto;
    }
    
    
}




.example-container {
    width: auto;
    height: 1000px;

    
  }
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
  
.example-sidenav {
    padding: 20px;
    width: 270px;
    background-color: #173B6B;
    border-top-right-radius: 15px;
    opacity: 0.9;
}

.library {
      padding-left: 10px;
      font-size: 25px;
      font-weight: 100;
      color: white;
      height: 40px;
      background-color: #173B6B;
      
      
}

.libraryContents button {
    width: 100%;
    height: 45px;
    background-color: #173B6B;
    border: none;
}

.libraryContents button:hover {
    border: 2px solid #86A4B3;
    border-radius: 15px;
}

.libraryContents button:focus {
    outline: none;
}
.libraryContents label{
    font-size: 15px;
    font-weight: 350;
    margin-top: 7px;
    margin-left: 20px;
    float: left;
    color: white;
}
.libraryContents span {
    color: white;
}
.counts {
    font-size: 15px;
    font-weight: 100;
    margin-top: 7px;

    float:right;
}
.libraryContents mat-icon {
    float: left;
    margin-top: 5px;
    color: white;
}
.libraryContents i {
    float:left;
    margin-top: 5px;
    font-size: 25px;
    color: white;
}


.advancedSearchButton {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #86A4B3;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 17px;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 80px;

}
.menuLine {
    height: 2px;
    background-color: white;
    color: white;
    border: none;
    margin-bottom: 20px;
}
/* 
.as_titleBlock {
    margin-top: 10px;
}
.as_title {
        font-weight: 100;
        font-size: 20px;
        padding: 6px;
        display: inline-block;
}

.plus {
    background-color: white;
    color: #303030;
    width: 5%;
}

.as_content {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 15px;
    border: 0.5px solid black;
    height: auto;
    

}
.as_content label {
    font-weight: 100;
    margin-left: 15px;
    font-size: 15px;
    margin-top: 15px;
} */


